body {
	font-family: Arial, Helvetica, sans-serif;
}


.inspect-params {
	background-color: #800000;
	padding: 10px;
	color: white;
}

.notice {
	text-align: center;
	color: white;
	background-color:  #3D59AB;
	padding: 10px;
	margin: 20px 0;
}
