<%= link_to "Back to List", :action => 'list' %>

<h2>Delete Page</h2>

<%= form_for(:page, :url => {:action => 'destroy', :id => @page.id }) do |f| %>

<p>Are you sure you want to delete <%= @page.name %>?</p>


	<div>
		<%= submit_tag "Delete Page" %>
	</div>

<% end %>